<div class="buttons-wrapper">
    <a href="/" class="logo">ShareBin</a>
    <div class="buttons" type="submit">
        <button class="btn" href="\">NEW</button>
        <button class="btn" type="submit">SAVE</button>
    </div>
</div>
